<html>
<head>
  <title>Selt2021Proj02 Inventory Item Information</title>
  <%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<body>
<p id="notice"><%= notice %></p>
<div class = 'container'>
  <p>
    <strong>Medication Name:</strong>
    <%= @inventory.medName %>
  </p>

  <p>
    <strong>Medication ID:</strong>
    <% if @inventory.med_id.nil? %>
      This is a custom medication with no medication id
    <% else %>
      <%= @inventory.med_id %> --
      <%= link_to 'More Information', Medication.where(id: @inventory.med_id).first, class: "btn btn-primary btn-small" %>

  <% end %>
  </p>

  <p>
    <%= form_for :amount, :url => inventories_change_amount_path do |f| %>
      <strong>Amount:</strong>
      <%= @inventory.amount %> -- <strong>Update Amount:</strong> <%= f.text_field :amount, value: @inventory.amount, id:"amount" %>
    <%= f.hidden_field :id, value: @inventory.id %>
    <% end %>
  </p>

  <p>
    <strong>Student:</strong>
    <% if @inventory.studentID.nil? %>
      There is no student assigned to this medication
    <% else %>
      <% @student = User.where(id: @inventory.studentID).first%>
      <%= @student.first_name + " " + @student.last_name + " " + "(ID: " + @student.id.to_s + ")" %> --
      <%= link_to 'More Information', @student, class: "btn btn-primary btn-small" %>
  <% end %>
  </p>

  <div class="field">
    <%= form_for :notes, :url => inventories_change_notes_path do |f| %>
      <div class="field">
        <strong><%= f.label :notes, "Notes:" %></strong>
        <%= f.text_area :notes, value: @inventory.notes ,class: "form-control", id:"notes" %>
        <%= f.hidden_field :id, value: @inventory.id %>
      </div>
      <%= f.submit :Submit, class: "btn btn-primary", id:"submit" %> <%= link_to 'Delete Item', @inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %>

  <% end %>
  </div>

</div>
</body>
</html>