<% content_for(:html_title) { "Admin Dashboard" } %>
<%= stylesheet_link_tag    'nurses', media: 'all' %>

<main role="main">
  <div class="jumbotron">
    <div class="container mb">
      <h1 class="display-3 ">Welcome, <%= @current_user.first_name %></h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="album py-5">
      <div class="container homeContainer">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">View Parents and Students</h2>
              <%= link_to "People", users_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">See Medication Information</h2>
              <%= link_to "All Medications", medications_path, class: "btn btn-secondary"%>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">Associate Students with Parents</h2>
              <%= link_to "Association", admins_associate_page_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">Add User to District</h2>
              <%= link_to "Invite User", new_user_path, class: "btn btn-secondary"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div> <!-- /container -->
</main>
