<% content_for(:html_title) { "Student Dashboard" } %>

  <div class="container">
    <!-- Example row of columns -->
    <div class="album py-5">
      <div class="container homeContainer">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2>View Past Events</h2>
              <%= link_to "Past Events", students_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2>View Parents and Students</h2>
              <%= link_to "People", students_path, class: "btn btn-secondary"%>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h2>See Medication Information</h2>
            <%= link_to "All Medications", medications_path, class: "btn btn-secondary"%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2>Request a Medication</h2>
              <%= link_to "New Event", new_request_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2>Pending Requests</h2>
              <%= link_to "New Form", requests_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2>View Forms</h2>
              <%= link_to "Forms", students_path, class: "btn btn-secondary"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div>

