p id="notice"><%= notice %></p>

<p>
  <strong>Meds:</strong>
  <%= @student.meds %>
</p>

<p>
  <strong>Events:</strong>
  <%= @student.events %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Parents:</strong>
  <%= @student.parents %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
