<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <p class="font-weight-bold h1"><%= @current_user.first_name %></p>
      <br>
      <p class="font-weight-bold h1"><%= @current_user.last_name %></p>
      <br>
      <p class="text-black-50 h4"><%= @current_user.email %></p>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <%= form_for :edit_user, :url => users_update_path(id: @current_user.id), method: :post, :html => {:id => 'new-user-form', :name => 'new-user-form'} do |f|%>
          <div class="row mt-2">
            <div class="col-md-6">
              <%= f.label :first_name, "First Name", class:"form-label" %>
              <%= f.text_field :first_name, class:"form-control", required: true, value: @current_user.first_name %>
            </div>

            <div class="col-md-6">
              <%= f.label :last_name, "Last Name", class:"form-label" %>
              <%= f.text_field :last_name, class:"form-control", required: true, value: @current_user.last_name %>
            </div>
          </div>

          <div class="col-md-12 mt-2">
            <%= f.label :email, "Email Address", class:"form-label" %>
            <%= f.text_field :email, class:"form-control", required: true, value: @current_user.email %>
          </div>

          <div class="col-md-12 mt-5">
            <div class="form-check">
              <%= f.check_box :email_notification, class: "form-check-input", checked: @current_user.email_notification %>
              <%= f.label :email_notification, "Enable Email Notifications", class:"form-label"%>
            </div>
          </div>

          <div class="col-md-12 mt-2">
            <div class="form-check">
              <%= f.check_box :text_notification, class: "form-check-input", checked: @current_user.text_notification %>
              <%= f.label :text_notification, "Enable Text Notifications", class:"form-label" %>
            </div>
          </div>

          <div class="col-md-6 pt-md-0 pt-3 mt-3">
            <%= f.label :phone, "Phone Number", class:"form-label" %>
            <%= f.telephone_field :phone, class:"form-control bfh-phone", value: number_to_phone(@current_user.phone, area_code: true) %>
          </div>


          <% if @current_user.role == 'Admin' %>
            <div class="mt-5">

              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">District Settings</h4>
              </div>

              <div class="form-outline mb-4">
                <%= f.label :district_name, "District Name", class:"form-label" %>
                <%= f.text_field :district_name, class:"form-control form-control", value: @district.district_name %>
              </div>


              <div class="form-outline mb-4">
                <%= f.label :address1, "Address", class:"form-label" %>
                <%= f.text_field :address1, class:"form-control", value: @district.address1 %>
              </div>

              <div class="form-outline mb-4">
                <%= f.label :address2, "Address 2", class:"form-label" %>
                <%= f.text_field :address2, class:"form-control", value: @district.address2 %>
              </div>

              <div class="form-outline mb-4">
                <%= f.label :city, "City", class:"form-label" %>
                <%= f.text_field :city, class:"form-control", value: @district.city %>
              </div>

              <div class="form-outline mb-4">
                <%= f.label :state, "State", class:"form-label" %>
                <%= f.select :state, options_for_select({"Alabama" => "AL", "Alaska" => "AK", "Arizona" => "AZ",
                                                         "Arkansas" => "AR", "California" => "CA", "Colorado" => "CO",
                                                         "Connecticut" => "CT", "Delaware" => "DE", "District of Columbia" => "DC",
                                                         "Florida" => "FL", "Georgia" => "GA", "Hawaii" => "HI", "Idaho" => "ID",
                                                         "Illinois" => "IL", "Indiana" => "IN", "Iowa" => "IA", "Kansas" => "KS",
                                                         "Kentucky" => "KY", "Louisiana" => "LA", "Maine" => "ME", "Maryland" => "MD",
                                                         "Massachusetts" => "MA", "Michigan" => "MI", "Minnesota" => "MN",
                                                         "Mississippi" => "MS", "Missouri" => "MO", "Montana" => "MT", "Nebraska" => "NE",
                                                         "Nevada" => "NV", "New Hampshire" => "NH", "New Jersey" => "NJ",
                                                         "New Mexico" => "NM", "New York" => "NY", "North Carolina" => "NC", "North Dakota" => "ND",
                                                         "Ohio" => "OH", "Oklahoma" => "OK", "Oregon" => "OR", "Pennsylvania" => "PA",
                                                         "Rhode Island" => "RI", "South Carolina" => "SC", "South Dakota" => "SD", "Tennessee" => "TN",
                                                         "Texas" => "TX", "Utah" => "UT", "Vermont" => "VT", "Virginia" => "VA",
                                                         "Washington" => "WA", "West Virginia" => "WV", "Wisconsin" => "WI", "Wyoming" => "WY"},
                                                         @district.state), {}, {class: 'form-control'} %>

              </div>
            </div>
          <% end %>

          <div class="mt-5 text-center">
            <button type="submit" class="btn btn-success btn-lg mb-1">Save Changes</button>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>