<div class="container">
  <h1>Users in District</h1>

  <div class="input-group">
    <div class="form-outline">
      <%= form_for :search, { url: users_path, method: 'get' } do |f|  %>
        <label>Search for:</label>
        <div class="d-flex flex-rows input-group">
          <%= f.select :type, options_for_select(%w[Name Role]), {}, {class: 'form-select'} %>
          <%= f.text_field :term, class: "form-control w-25" %>
          <%= f.submit :Search, class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>District ID</th>
      <th>Role</th>
      <th>Profile</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name + ' ' + user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.district_id %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'View', user %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
