<h1>Login</h1>

<%= form_tag sessions_path do %>
<%= label_tag :email, "Email" %>
<%= text_field :email, 'email' %>

<%= label_tag :password, "Password" %>
<%= password_field :password, 'password' %>

<%= submit_tag "Login" %>
<% end %>