<% content_for(:html_title) { "Medications" } %>
<%= stylesheet_link_tag    'medications', media: 'all' %>

<div class="container">
<h1>Medications</h1>
  <div class="input-group">
    <%= form_for :search_term, url: medications_search_meds_path do |f|  %>
      <div class="input-group">
        <%= f.text_field :search_term, class: "form-control", :html => {:id => "form1", :name => "form1"}, id:"form1" %>
        <%= f.submit :Search, class: "btn btn-primary",  id: "submit"%>
      </div>
    <% end %>
  </div>
  <div class="fr">
    <%= form_for :page_count, :url => medications_set_page_count_path do |f|  %>
      <div class="form-group"
      <%= f.label :page_count, "Results per page: " %>
      <%= f.select :page_count, options_for_select([10, 25, 35, 50, 75, 100, 250], @pages), {}, :onchange => 'this.form.submit()'%>
      </div>
    <% end %>
  </div>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-sm">Name
    </th>
    <th class="th-sm">Active Ingredient
    </th>
    <th class="th-sm">Form
    </th>
    <th class="th-sm">Strength
    </th>
    <th class="th-sm">Notes
    </th>
    <th class="th-sm">More Information
    </th>
  </tr>
  </thead>
  <tbody>
    <% @medications.each do |medication| %>
      <tr>
        <td><%= medication.brand_name %></td>
        <td><%= medication.active_ing %></td>
        <td><%= medication.method %></td>
        <td><%= medication.strength %></td>
        <td><%= medication.notes %></td>
        <td><%= link_to 'More Information', medication, id:medication.brand_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="pagination">
    <%= will_paginate @medications, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
  </div>
