<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medication.brand_name %>
</p>

<p>
  <strong>Active Ingredient:</strong>
  <%= @medication.active_ing %>
</p>

<p>
  <strong>Form:</strong>
  <%= @medication.method %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @medication.strength %>
</p>

<p>
  <strong>Notes:</strong>
  <% unless @medication.notes.nil? %>
    <%= @medication.side_effects %>
  <% else %>
    There are currently no notes for this medication.
  <% end %>
</p>

<%= link_to 'Back', medications_path %>
