<h1>Set Password</h1>

<%= form_for :new_pass, :url => users_set_password_path(params[:id]) do |f| %>
  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class='actions'><%= f.submit 'Set password' %></div>
<% end %>