<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Student:</strong>
  <%= @event.student_id %>
</p>

<p>
  <strong>Med:</strong>
  <%= @event.med_id %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @event.complete %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event.notes %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
