<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time1 %><br>
    <%= f.datetime_select :time1 %>
  </div>
  <div class="field">
    <%= f.label :time2 %><br>
    <%= f.datetime_select :time2 %>
  </div>
  <div class="field">
    <%= f.label :time3 %><br>
    <%= f.datetime_select :time3 %>
  </div>
  <div class="field">
    <%= f.label :time4 %><br>
    <%= f.datetime_select :time4 %>
  </div>
  <div class="field">
    <%= f.label :daily_doses %><br>
    <%= f.text_field :daily_doses %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :requestor_id %><br>
    <%= f.number_field :requestor_id %>
  </div>
  <div class="field">
    <%= f.label :med_id %><br>
    <%= f.number_field :med_id %>
  </div>
  <div class="field">
    <%= f.label :district_id %><br>
    <%= f.number_field :district_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :parent_approved %><br>
    <%= f.check_box :parent_approved %>
  </div>
  <div class="field">
    <%= f.label :nurse_approved %><br>
    <%= f.check_box :nurse_approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
