<head>
  <script src="https://kit.fontawesome.com/9c8e310799.js" crossorigin="anonymous"></script>
</head>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Pending Requests</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Medication</th>
      <th>Time 1</th>
      <th>Time 2</th>
      <th>Time 3</th>
      <th>Time 4</th>
      <th>Daily Doses</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Parent approved</th>
      <th>Nurse approved</th>
    </tr>
    </thead>

    <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.med_name %></td>
        <td><%= time_tag(request.time1, format: '%H:%M') unless request.time1.nil? %></td>
        <td><%= time_tag(request.time2, format: '%H:%M') unless request.time2.nil? %></td>
        <td><%= time_tag(request.time3, format: '%H:%M') unless request.time3.nil? %></td>
        <td><%= time_tag(request.time4, format: '%H:%M') unless request.time4.nil? %></td>
        <td><%= request.daily_doses %></td>
        <td><%= time_tag(request.start_date, format: '%B %d, %Y') unless request.start_date.nil? %></td>
        <td><%= time_tag(request.end_date, format: '%B %d, %Y') unless request.start_date.nil? %></td>
        <td>
          <% if request.parent_approved %>
            <span style="font-size: 25px; color: green;"><i class="fas fa-check-circle"></i></span>
          <% else %>
            <span style="font-size: 25px; color: red;"><i class="fas fa-times-circle"></i></span>
          <% end %>
        </td>
        <td><% if request.nurse_approved %>
            <span style="font-size: 25px; color: green;"><i class="fas fa-check-circle"></i></span>
          <% else %>
            <span style="font-size: 25px; color: red;"><i class="fas fa-times-circle"></i></span>
          <% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Request', new_request_path %>
</body>


