<head>
  <script src="https://kit.fontawesome.com/9c8e310799.js" crossorigin="anonymous"></script>
</head>
<body>
  <p id="notice"><%= notice %></p>

  <h1>Pending Requests</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <% if @current_user.role == 'Parent' || @current_user.role == 'Nurse' %>
        <th>Student</th>
      <% end %>
      <th>Medication</th>
      <th>Time 1</th>
      <th>Time 2</th>
      <th>Time 3</th>
      <th>Time 4</th>
      <th>Daily Doses</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Parent approved</th>
      <th>Nurse approved</th>
    </tr>
    </thead>

    <tbody>
    <% @requests.each do |request| %>
      <tr>
        <% if @current_user.role == 'Parent' || @current_user.role == 'Nurse' %>
          <% user = User.find(request.student_id) %>
          <td><b><%= user.first_name + ' ' + user.last_name %></b></td>
        <% end %>
        <td><%= request.med_name %></td>
        <td><%= time_tag(request.time1, format: '%H:%M') unless request.time1.nil? %></td>
        <td><%= time_tag(request.time2, format: '%H:%M') unless request.time2.nil? %></td>
        <td><%= time_tag(request.time3, format: '%H:%M') unless request.time3.nil? %></td>
        <td><%= time_tag(request.time4, format: '%H:%M') unless request.time4.nil? %></td>
        <td><%= request.daily_doses %></td>
        <td><%= time_tag(request.start_date, format: '%B %d, %Y') unless request.start_date.nil? %></td>
        <td><%= time_tag(request.end_date, format: '%B %d, %Y') unless request.start_date.nil? %></td>
        <td>
          <% if request.parent_approved %>
            <span style="font-size: 25px; color: green;"><i class="fas fa-check-circle"></i></span>
          <% else %>
            <% if @current_user.role == 'Parent' %>
              <%= form_for :request_approve, :url => requests_approve_path, :html => {:id => 'approve-request-form', :name => 'approve-request-form'} do |f| %>
                <%= f.hidden_field :id, :value => request.id %>
                <%=f.submit "Approve Request", class:"btn btn-primary profile-button"  %>
              <% end %>
            <% else %>
              <span style="font-size: 25px; color: red;"><i class="fas fa-times-circle"></i></span>
            <% end %>
          <% end %>
        </td>
        <td><% if request.nurse_approved %>
            <span style="font-size: 25px; color: green;"><i class="fas fa-check-circle"></i></span>
          <% else %>
            <% if @current_user.role == 'Nurse' %>
              <%= form_for :request_approve, :url => requests_approve_path, :html => {:id => 'approve-request-form', :name => 'approve-request-form'} do |f| %>
                <%= f.hidden_field :id, :value => request.id %>
                <%=f.submit "Approve Request", class:"btn btn-primary profile-button"  %>
              <% end %>
            <% else %>
              <span style="font-size: 25px; color: red;"><i class="fas fa-times-circle"></i></span>
            <% end %>
          <% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <% unless @current_user.role == 'Nurse' %>
    <%= link_to 'New Request', new_request_path, class:"btn btn-primary profile-button" %>
  <% end %>
</body>


