<head>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" crossorigin="anonymous">-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment-with-locales.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://rawgit.com/tempusdominus/bootstrap-4/master/build/js/tempusdominus-bootstrap-4.min.js"></script>
  <link href="https://rawgit.com/tempusdominus/bootstrap-4/master/build/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="mt-5" width="150px" src="https://www.pngplay.com/wp-content/uploads/7/Checklist-Logo-Transparent-Image.png"></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Request Approval for Medication</h4>
        </div>
        <%= form_for :request, :url => new_request_path, :html => {:id => 'request-form', :name => 'request-form'} do |f| %>

          <div class="row mt-3">
            <div class="form-outline mb-4">
              <%= f.label :med_id, "Medication", class:"form-label" %>
              <%= f.text_field :med_id, class:"form-control", required: true %>
            </div>
            <div class="form-outline mb-4">
              <%= f.label :daily_doses, "Doses per Day", class:"form-label" %>
              <%= f.select :daily_doses, options_for_select({'1' => '1', '2' => '2', '3' => '3', '4' => '4'}, @request.daily_doses),
                           {}, {class:"form-control", required: true, id:'daily_doses', onchange: 'showTimes();'}  %>
            </div>


            <div class="form-group">
              <div class="row mt-2" style="display: none" id="dose1">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <%= f.label :time1, "First Dose", class:"form-label" %>
                  <div class="input-group date"  id="timepicker1" data-target-input="nearest">
                    <%= f.text_field :time1, class:"form-control datetimepicker-input" %>
                    <span class="input-group-addon" data-target="#timepicker1" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mt-2" style="display: none" id="dose2">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <%= f.label :time2, "Second Dose", class:"form-label" %>
                  <div class="input-group date"  id="timepicker2" data-target-input="nearest">
                    <%= f.text_field :time2, class:"form-control datetimepicker-input" %>
                    <span class="input-group-addon" data-target="#timepicker2" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mt-2" style="display: none" id="dose3">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <%= f.label :time3, "Third Dose", class:"form-label" %>
                  <div class="input-group date"  id="timepicker3" data-target-input="nearest">
                    <%= f.text_field :time3, class:"form-control datetimepicker-input" %>
                    <span class="input-group-addon" data-target="#timepicker3" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row mt-2" style="display: none" id="dose4">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <%= f.label :time4, "Fourth Dose", class:"form-label" %>
                  <div class="input-group date"  id="timepicker4" data-target-input="nearest">
                    <%= f.text_field :time4, class:"form-control datetimepicker-input" %>
                    <span class="input-group-addon" data-target="#timepicker4" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group mb-4">
              <%= f.label :start_date, "Medication Start Date", class:"form-label" %>
              <div class="input-group date" id="datepicker1" data-target-input="nearest">
                <%= f.text_field :start_date, class:"form-control datetimepicker-input" %>
                <span class="input-group-addon" data-target="#datepicker1" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
              </div>
            </div>

            <div class="form-group mb-4">
              <%= f.label :end_date, "Medication End Date", class:"form-label" %>
              <div class="input-group date" id="datepicker2" data-target-input="nearest">
                <%= f.text_field :end_date, class:"form-control datetimepicker-input" %>
                <span class="input-group-addon" data-target="#datepicker2" data-toggle="datetimepicker">
                        <span class="fa fa-calendar"></span>
                    </span>
              </div>
            </div>

              <div class="form-outline mb-6">
                <%= f.label :notes, "Notes", class:"form-label" %>
                <%= f.text_area :notes, class:"form-control" %>
              </div>

            <div class="mt-5 text-center">
              <%=link_to "Cancel", students_path, class:"btn btn-danger profile-button"%>
              <button class="btn btn-primary profile-button" type="button">Submit Request</button>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>

<script type="text/javascript">
  function showTimes() {
      let doses = $('#daily_doses').val();
      if (doses == 1) {
          $('#dose1').show();
          $('#dose2').hide();
          $('#dose3').hide();
          $('#dose4').hide();
      }
      if (doses == 2) {
          $('#dose1').show();
          $('#dose2').show();
          $('#dose3').hide();
          $('#dose4').hide();
      }
      if (doses == 3) {
          $('#dose1').show();
          $('#dose2').show();
          $('#dose3').show();
          $('#dose4').hide();
      }
      if (doses == 4) {
          $('#dose1').show();
          $('#dose2').show();
          $('#dose3').show();
          $('#dose4').show();
      }
      if (doses == "") {
          $('#dose1').hide();
          $('#dose2').hide();
          $('#dose3').hide();
          $('#dose4').hide();
      }
  }

  $(function () {
      $('#timepicker1').datetimepicker({
          pickDate: false,
          format: 'HH:mm'
      });$('#timepicker2').datetimepicker({
          pickDate: false,
          format: 'HH:mm'
      });$('#timepicker3').datetimepicker({
          pickDate: false,
          format: 'HH:mm'
      });
      $('#timepicker4').datetimepicker({
          pickDate: false,
          format: 'HH:mm'
      });
      $('#datepicker1').datetimepicker({
          format: 'MM/DD/YYYY'
      });
      $('#datepicker2').datetimepicker({
          format: 'MM/DD/YYYY'
      });
  });
</script>