<p id="notice"><%= notice %></p>

<p>
  <strong>Time1:</strong>
  <%= @request.time1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @request.time2 %>
</p>

<p>
  <strong>Time3:</strong>
  <%= @request.time3 %>
</p>

<p>
  <strong>Time4:</strong>
  <%= @request.time4 %>
</p>

<p>
  <strong>Daily doses:</strong>
  <%= @request.daily_doses %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @request.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @request.end_date %>
</p>

<p>
  <strong>Student:</strong>
  <%= @request.student_id %>
</p>

<p>
  <strong>Requestor:</strong>
  <%= @request.requestor_id %>
</p>

<p>
  <strong>Med:</strong>
  <%= @request.med_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @request.district_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @request.notes %>
</p>

<p>
  <strong>Parent approved:</strong>
  <%= @request.parent_approved %>
</p>

<p>
  <strong>Nurse approved:</strong>
  <%= @request.nurse_approved %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
