<% content_for(:html_title) { "Nurse Dashboard" } %>
<%= stylesheet_link_tag    'nurses', media: 'all' %>

<main role="main">
  <div class="jumbotron">
    <div class="container mb">
      <h1 class="display-3 ">Welcome, <%= @current_user.first_name %></h1>
      <p>Click the button below to see upcoming events. You can also browse the dashboard for information on students, medications, past events, and more.</p>
      <%= link_to "Upcoming Events", events_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>

  <div class="container">
    <% unless @pending_requests.empty? %>
      <table class="table text-center mt-4">
        <tr class="table-warning">
          <td class="h5 w-70">You have medication requests awaiting your approval.</td>
          <td class="w-30"><%= link_to "View Requests for Approval", requests_path, class: "btn btn-warning profile-button", id: 'view-requests' %></td>
        </tr>
      </table>
    <% end %>
    <!-- Example row of columns -->
    <div class="album py-5">
      <div class="container homeContainer">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Past Events</h2>
        <%= link_to "Past Events", events_past_events_path, class: "btn btn-secondary"%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Parents and Students</h2>
        <%= link_to "People", users_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">See Medication Information</h2>
        <%= link_to "All Medications", medications_path, class: "btn btn-secondary"%>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">Create an Event</h2>
        <%= link_to "New Event", new_event_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">Create a Form</h2>
        <%= link_to "New Form", forms_new_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Forms</h2>
        <%= link_to "Forms", forms_path, class: "btn btn-secondary"%>
      </div>
      </div>
    </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">Associate Students with Parents</h2>
              <%= link_to "Association", nurses_associate_page_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">View Inventory</h2>
              <%= link_to "Inventory", inventories_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div> <!-- /container -->
</main>
