<html lang="en">
<head>
  <title>Selt2021Proj02 Nurse Dashboard</title>
  <%= stylesheet_link_tag    'nurses', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body>
<main role="main">
  <div class="jumbotron">
    <div class="container mb">
      <h1 class="display-3 ">Welcome, <%= @current_user.first_name %></h1>
      <p>Click the button below to see upcoming events. You can also browse the dashboard for information on students, medications, past events, and more.</p>
      <%= link_to "Upcoming Events", events_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="album py-5">
      <div class="container homeContainer">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Past Events</h2>
        <%= link_to "Past Events", events_past_events_path, class: "btn btn-secondary"%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Parents and Students</h2>
        <%= link_to "People", nurses_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">See Medication Information</h2>
        <%= link_to "All Medications", medications_path, class: "btn btn-secondary"%>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">Create an Event</h2>
        <%= link_to "New Event", nurses_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">Create a Form</h2>
        <%= link_to "New Form", nurses_path, class: "btn btn-secondary"%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <h2 class="top-content">View Forms</h2>
        <%= link_to "Forms", nurses_path, class: "btn btn-secondary"%>
      </div>
      </div>
    </div>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <h2 class="top-content">View Inventory</h2>
              <%= link_to "Inventory", inventories_path, class: "btn btn-secondary"%>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
    <hr>

  </div> <!-- /container -->

</main>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>