<% content_for(:html_title) { "Parent Dashboard" } %>
<%= stylesheet_link_tag    'nurses', media: 'all' %>

<main class="main">
  <!-- Example row of columns -->
  <div class="jumbotron">
    <div class="container mb">
      <h1 class="display-3 ">Welcome, <%= @current_user.first_name %></h1>
      <p>Click the button below to see upcoming events. You can also browse the dashboard for information on students, medications, past events, and more.</p>
      <%= link_to "Upcoming Events", events_parent_view_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>

  <div class="container">
    <% unless @pending_requests.empty? %>
      <table class="table text-center mt-4">
        <tr class="table-warning">
          <td class="h5">You have medication requests awaiting your approval.</td>
          <td><%= link_to "View Requests for Approval", requests_path, class: "btn btn-warning profile-button", id: 'view-requests' %></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="container">
    <% unless @pending_forms.empty? %>
      <table class="table text-center mt-4">
        <tr class="table-warning">
          <td class="h5">You have forms from your district pending your approval.</td>
          <td><%= link_to "View Forms for Approval", forms_parent_view_path, class: "btn btn-warning profile-button", id: 'view-forms' %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="album py-5">
    <div class="container homeContainer">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h2>View Past Events</h2>
            <%= link_to "Past Events", parents_path, class: "btn btn-secondary"%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h2>Pending Requests</h2>
            <%= link_to "View Requests", requests_path, class: "btn btn-secondary"%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h2 class="top-content">View Forms</h2>
            <%= link_to "View Forms", forms_parent_view_path, class: "btn btn-secondary"%>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h2 class="top-content">See Medication Information</h2>
            <%= link_to "All Medications", medications_path, class: "btn btn-secondary"%>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</main>
