<% content_for(:html_title) { "Forms" } %>
<%= stylesheet_link_tag    'events', media: 'all' %>

<div class="container">
  <% if District.where(id: @current_user.district_id).first.nil? %>
    <h1>Forms</h1>
  <% else %>
    <h1>Forms for <%= District.where(id: @current_user.district_id).first.district_name %></h1>
  <% end %>
  <div class="input-group">
    <div class="form-outline fl">
      <%= form_for :search_term, :url => forms_search_forms_path do |f|  %>
        <%= f.text_field :search_term, class: "form-control", :html => {:id => "form1", :name => "form1"}, id:"form1"%>
        </div>
        <%= f.submit :Search, class: "btn btn-primary", id: "submit"%>
      <% end %>
      </div>
  <div class="fr">
    <%= form_for :page_count, :url => forms_set_page_count_path do |f|  %>
      <div class="form-group"
      <%= f.label :page_count, "Results per page: " %>
      <%= f.select :page_count, options_for_select([10, 25, 35, 50, 75, 100, 250], @pages), {}, :onchange => 'this.form.submit()'%>
      </div>
    <% end %>
    </div>
<% if @current_user.role == "Nurse" %>
  <div class = "fr">
    <%= link_to 'Create a new Form', forms_new_path, class: "btn btn-primary btn-small" %>
  </div>
<% end %>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th class="th-sm">Form ID
    </th>
    <th class="th-sm">Student Name
    </th>
    <th class="th-sm">Approved by Guardian
    </th>
    <th class="th-sm">Approved by Nurse
    </th>
    <th class="th-sm">Form Contents
    </th>
    <th class="th-sm">More Information
    </th>
  </tr>
  </thead>
  <tbody>
  <% @forms.each do |item| %>
    <% @student = User.where(id: item.studentID).first %>
    <tr>
      <td><%= item.id %></td>
      <% if @student.nil? %>
        <td>Test Form</td>
      <% else %>
        <td><%= @student.first_name + ' ' + @student.last_name %></td>
      <% end %>
      <td><%= item.parent_approved %></td>
      <td><%= item.nurse_approved %></td>
      <td><%= item.body %></td>
      <td class="btn-center"><%= link_to 'More Information', item, id:item.id, class: "btn btn-primary btn-small" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= will_paginate @inventory, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>
