<!DOCTYPE html>
<html>
<head>
  <title>Selt2021Proj02</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<body>
<%=image_tag asset_path('sml-logo.png'), id: 'main-logo' %>
<p id="coming-soon"> Coming Soon! </p>
<%= yield %>

</body>
</html>
